@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container containerSpace">
    <div class="row">
        <div class="col-md-7 col-md-offset-2 col-xs-12">
            <h3>Acerca de</h3>
            <hr />
            <p class="text-justify">
                Aplicación que se encargada de obtener la ubicación actual del usuario, mediante el uso de <strong>Google Maps Javascript API </strong>, se usa Geolocation y
                DirectionsService, asi tambien la tecnologia de <i class="fa fa-html5"></i> HTML5, Javascript ,ASP.NET MVC. Para el diseño web usa el framework Bootstrap.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2 col-xs-12">
            
            <hr />    
        </div>
        
    </div>
</div>

