@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container containerSpace">
    <div class="row">
        <div class="col-md-7 col-md-offset-2 col-xs-12">
            <h3>Contacto</h3>
            <hr />
            <h3><strong>Nombre: </strong> Ronald Alexander Melara Avalos.</h3>
            <h3><strong>Correo: </strong> lexmelara@gmail.com</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2 col-xs-12">

            <hr />
        </div>

    </div>
</div>

